.homeContainer {
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    scroll-behavior: smooth;

}

.contentWrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.formWrapper {
    flex: 1;
    min-height: 80vh;
}

.footerWrapper {
    margin-top: 20%;
    position: relative;
    height: auto;
}